/* Coolors Exported Palette - coolors.co/011627-fdfffc-2ec4b6-e71d36-ff9f1c */

$color1: #011627; //rgba(1, 22, 39, 100)
$color2: #fdfffc; //rgba(253, 255, 252, 100)
$color3: #2ec4b6; //rgba(46, 196, 182, 100)
$color4: #e71d36; //rgba(231, 29, 54, 100)
$color5: #ff9f1c; //rgba(255, 159, 28, 100)

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

.g-S { fill: $color5; background: $color5; }
.g-A { fill: $color4; background: $color4; }
.g-B { fill: $color3; background: $color3; }
.g-C { fill: $color2; background: $color2; }
.g-F { fill: $color1; background: $color1; }

.txt-black {
  color: black;
}

.txt-white {
  color: white;
}

.txt-red {
  color: red;
}

.btn-black {
  background: black;
}

.btn-green {
  background: green;
}

.btn-orange {
  background: #ff9f1c;
}

.btn-red {
  background: red;
}

.btn-blue {
  background: #000080
}
