/**
 * https://github.com/philipwalton/solved-by-flexbox/blob/master/demos/input-add-ons.md
 */
.inputAddOn {
  display: flex;
}

.inputAddOn-field {
  flex: 1;
  font-size: 30px;
  padding: 1px;
  padding-left: 10px;
  vertical-align: middle;
}

.inputAddOn-btn {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  min-width: 90px;
  padding: 15px;
  top: 0;
}

.mini .inputAddOn-btn {
  font-size: 12px;
}

.mini .inputAddOn-field {
  font-size: 25px;
}

@media all and (max-width: 640px) and (min-width: 320px) {
  .inputAddOn {
    font-size: 12px;
  }

  .inputAddOn-btn {
    padding: 10px;
  }

  .inputAddOn-field {
    font-size: 17px;
  }
}
