@import './btn';
@import './color';
@import './inputAddOn';
@import './form';
@import './viz';
@import './journal';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: ‘Metrophobic’, Arial, serif;
  font-weight: 400;
  margin-top: 60px;
  min-height: 65vh;
  shape-rendering: crispEdges;
}

header {
  position: relative;

  .top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap
  }

  .top-item {
    align-self: center;
    flex: 1;
  }
}

footer {
  bottom: 0;
  font-size: 12px;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}

.faq {
  margin: 25px auto;
  padding: 5px;
  max-width: 700px;
}

.links {
  display: block;
  margin: 0 auto;
  text-align: center;

  a {
    padding: 0 5px;
  }
}

.content {
  margin-bottom: 100px;
}

.txt-center {
  display: block;
  text-align: center;
}

.hidden {
  display: none !important;
}

.adapt-txt {
  @media all and (max-width: 640px) and (min-width: 320px) {
    font-size: 13px;
  }
}

.adapt-title {
  @media all and (max-width: 640px) and (min-width: 320px) {
    font-size: 15px;
  }
}

.scroll {
  overflow: scroll;
}

.control {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}
